{% extends 'basictemplate.html' %}
{% block title %} course registartion details {% endblock %}

{% block content %}
{{course_list}}
<form method="POST" action="">
    {% csrf_token %}
    select course:
    <select name="course">
        {% for c in course_list %}
        <option value="{{c.id}}">{{c.courseCode}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="search"/>
    <h1> list of students register for course{{courseCode}}</h1>
    
<table border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            sem
        </th>
    </tr>
    {% for s in student_list %}
    <tr>
        <td>{{s.usn}}</td>
        <td>{{s.name}}</td>
        <td>{{s.sem}}</td>
    </tr>
    {% endfor%}
</table>

</form>
{% endblock %}